* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: #ccc;
}

/* LAYOUT */

header {
  background-color: #f7b600;
  padding: 1rem;
  text-align: center;
}

header section {
  padding: 0.7rem;
}

main,
footer {
  width: 70%;
  margin: auto;
  padding: 1rem;
}

article {
  padding: 1rem;
  margin-bottom: 1rem;
  /* margin: 1rem; */
  background-color: white;
}

footer {
  text-align: center;
  align-content: center;
  padding: 1rem;
  background-color: #9f9f9f;
}

/* FORMATAÇÃO */
h1 {
  color: #4e4e4e;
  font-size: 2.5rem;
}

h2 {
  color: #f7b600;
}

h3 {
  background-color: #ccc;
}

span {
  color: white;
}

article span {
  font-size: 0.8rem;
  color: black;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
  display: block;
}

a {
  text-decoration: none;
  color: #f7b600;
  padding: 0.5rem 0;
}

a:hover,
a:focus {
  text-decoration: underline;
}

header a {
  color: white;
  padding: 0.2rem 0.7rem;
}

header a:is(:hover, :focus) {
  background-color: white;
  color: #f7b600;
  text-decoration: none;
}

p {
  margin: 0.3rem 0;
}

/*  */

.area-postagens {
  background-color: #ccc;
  float: left;
  width: 67%;
}

.area-lateral {
  background-color: #ccc;
  float: right;
  width: 27%;
}

.postagem-lateral {
  font-size: 0.8rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
}

.postagem-lateral:not(:last-of-type) {
  border-bottom: 1px solid #ccc;
}
